---
- name: Starting block for create inventory source
  block:
    - name: Create SCM inventory source for selected INI
      uri:
        url: "{{ ansible_url }}/inventories/{{ inventory_id }}/inventory_sources/"
        method: POST
        status_code: [200, 201]
        headers:
          Accept: application/json
          Authorization: "Bearer {{ svc_token }}"
        validate_certs: false
        body_format: json
        body:
          name: "src_{{ product_family }}"
          inventory: "{{ inventory_id | int }}"
          source: "scm"
          source_project: "{{ project_id | int }}"
          source_path: "{{ ini_source_path }}"
          source_branch: "{{ project_branch }}"
          overwrite: true
          update_on_project_update: false
      register: inv_src

    - name: Set_fact of inventory_source_id
      set_fact:
        inventory_source_id: "{{ inv_src.json.id }}"
