---
- name: Associate credential to adhoc job template
  uri:
    url: "{{ ansible_url }}/job_templates/{{ adhoc_template_id }}/credentials/"
    method: POST
    status_code: [200, 201, 204]
    headers:
      Accept: application/json
      Authorization: "Bearer {{ svc_token }}"
    validate_certs: false
    body_format: json
    body:
      id: "{{ cred_id | int }}"

- name: Lookup instance group id by name
  uri:
    url: "{{ ansible_url }}/instance_groups/?name={{ instance_group_name }}"
    method: GET
    headers:
      Accept: application/json
      Authorization: "Bearer {{ svc_token }}"
    validate_certs: false
  register: ig_lookup

- name: Fail if instance group not found
  fail:
    msg: "Instance group not found: {{ instance_group_name }}"
  when: ig_lookup.json.count | int == 0

- name: Set instance_group_id
  set_fact:
    instance_group_id: "{{ ig_lookup.json.results[0].id | int }}"

- name: Associate instance group to adhoc job template
  uri:
    url: "{{ ansible_url }}/job_templates/{{ adhoc_template_id }}/instance_groups/"
    method: POST
    status_code: [200, 201, 204]
    headers:
      Accept: application/json
      Authorization: "Bearer {{ svc_token }}"
    validate_certs: false
    body_format: json
    body:
      id: "{{ instance_group_id }}"
