---
- name: Assign required credentials to adhoc template
  uri:
    url: "{{ ansible_url }}/job_templates/{{ adhoc_template_id | int }}/credentials/"
    method: POST
    status_code: [200, 201, 204]
    headers:
      Accept: application/json
      Authorization: "Bearer {{ svc_token }}"
    validate_certs: false
    body_format: json
    body: "{{ { 'id': (cred_id | int) } }}"

- name: Associate instance group to adhoc job template
  uri:
    url: "{{ ansible_url }}/job_templates/{{ adhoc_template_id }}/instance_groups/"
    method: POST
    status_code: [200, 201, 204]
    headers:
      Accept: application/json
      Authorization: "Bearer {{ svc_token }}"
    validate_certs: false
    body_format: json
    body: "{{ { 'id': (instance_group_name | int) } }}"
  when: instance_group_name_final != 'MiddlewareFR'

- name: Include extra credentials required for template
  uri:
    url: "{{ ansible_url }}/job_templates/{{ adhoc_template_id | int }}/credentials/"
    method: POST
    status_code: [200, 201, 204]
    headers:
      Accept: application/json
      Authorization: "Bearer {{ svc_token }}"
    validate_certs: false
    body_format: json
    body: "{{ { 'id': (cred_item | int) } }}"
  loop:
    - 19  # iv2_mdw_caps_prod
    - 20  # Middleware Elastic login
    - 22  # Tower API credential
  loop_control:
    loop_var: cred_item
