---
- name: "Starting block for set_facts"
  block:
    - name: "Set_fact of region"
      set_fact:
        region: "{{ launch_limit | lower | regex_search('emea|apac|amer') }}"

    - name: "Set_fact of cred_id"
      set_fact:
        cred_id: "{{ region_credentials[region] }}"

    - name: "Debug region ID"
      debug:
        msg: "Credential ID is {{ cred_id }} for {{ region }}"

- name: "Block of assign credentials"
  block:
    - name: "Assign credential based on region"
      uri:
        url: "{{ ansible_url }}/job_templates/{{ adhoc_template_id }}/"
        method: PATCH
        status_code: [200, 201, 204]
        headers:
          Accept: application/json
          Authorization: "Bearer {{ svc_token }}"
        validate_certs: false
        body_format: json
        body:
          limit: "{{ launch_limit }}"
          credentials: ["{{ cred_id }}"]

    - name: "Refresh job-template definition"
      uri:
        url: "{{ ansible_url }}/job_templates/{{ adhoc_template_id }}/"
        method: GET
        headers:
          Accept: application/json
          Authorization: "Bearer {{ svc_token }}"
        validate_certs: false
      register: tmpl_refresh

    - name: "Show attached credentials (debug)"
      debug:
        msg: >-
          Current credentials used in Adhoc_template
          (id {{ adhoc_template_id }}):
          {{ tmpl_refresh.json.summary_fields.credentials }}