---
- name: Associate credential to adhoc job template
  uri:
    url: "{{ ansible_url }}/job_templates/{{ adhoc_template_id }}/credentials/"
    method: POST
    status_code: [200, 201, 204]
    headers:
      Accept: application/json
      Authorization: "Bearer {{ svc_token }}"
    validate_certs: false
    body_format: json
    body:
      id: "{{ cred_id | int }}"
